@charset "utf-8";
/* CSS Document */

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}  
#boxes .window {
  position:absolute;
  left:0;
  top:0;
  width:500px;
  height:400px;
  display:none;
  z-index:9999;
  padding:20px;
  background-color:#ffffff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.lite_images{
border: 2px solid #fff;
border: 2px solid #fff;
-moz-box-shadow: 0 0 5px 2px #888; 
-webkit-box-shadow: 0 0 5px 2px#888; 
box-shadow: 0 0 5px 2px #888;
}

