
@font-face {
    font-family: 'WebfontBold';
    src: url('../font/nevis-webfont.eot');
    src: url('../font/nevis-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/nevis-webfont.woff') format('woff'),
         url('../font/nevis-webfont.ttf') format('truetype'),
         url('../font/nevis-webfont.svg#WebfontBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    background-color: whitesmoke;
	text-align:justify; 
    height:100%;
    border:0px;
    margin: 0px;
    padding: 0px;
	hyphens: none;
}

.wrapper{
min-height:100%;
height:auto;
top:0px;
bottom:0px;
background:#d1d1d1;
width:960px;
border-left:1px solid #a1a1a1;
border-right:1px solid #a1a1a1;
position:relative;
margin: 0 auto;
}

.page_frame {
width:960px;
padding:0px;
}

.header_bgimage01 {
background-image:url(../images/header_01.jpg);
background-repeat:repeat-x;
}

.header_bgimage02 {
background-image:url(../images/header_02.jpg);
background-repeat:repeat-x;
}

.header_bgimage03 {
background-image:url(../images/header_03.jpg);
background-repeat:repeat-x;
}

.header_bgimage04 {
background-image:url(../images/header_04.jpg);
background-repeat:repeat-x;
}

.header_bgimage05 {
background-image:url(../images/header_05.jpg);
background-repeat:repeat-x;
}

.header_bgimage06 {
background-image:url(../images/header_06.jpg);
background-repeat:repeat-x;
}

.fb-like-box {
background:#ffffff;
}

.event_list {
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: bold;
color: #393939;
padding:0px 0px 50px 0px;
}

.event_list li{
padding:20px 0px 0px 0px;
}

.event_table {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: normal;
color: #393939;
padding:20px 0px 0px 0px;
}


.btnMore {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/event/more_btn.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:100px;
  height:30px;
  float:right;
}

.btnMore:hover {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/event/more_btn_hover.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:100px;
  height:30px;
  float:right;
}

.btnListen {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/event/listen_btn.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:100px;
  height:27px;
  float:right;
}

.btnListen:hover {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/event/listen_btn_hover.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:100px;
  height:27px;
  float:right;
}

.btnPDF {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/services/btn_pdf.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:120px;
  height:27px;
  float:right;
}

.btnPDF:hover {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/services/btn_pdf_hover.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:120px;
  height:27px;
  float:right;
}

.footer_position{
position:absolute; 
bottom:0;
left:0;
padding:0px;
}


/*---Navigation Menu---*/
.nav_bar {
background:url(../images/btn_00.jpg);
}

#maincurrent{
text-decoration:none;
color:#812991;
color:#812991\9; /* IE8 and below */
/*text-shadow: 0 0 5px #515151, 0 0 10px #515151;*/
width:auto;
height:12px;
display:block;
font-size:12px;
}

.mainmenu {
margin:0px;
font-family:'WebfontBold', Helvetica, sans-serif;
font-size:12px;
height:14px;
width:865px;
float:left;
display:block;
padding:5px 0px 0px 52px;
}

	.mainmenu ul{
	list-style:none;
	margin:0;
	padding:0;
	}
		
		.mainmenu li{
		float:left;
		width:auto;
		height:40px;
		padding:0px 32px 0px 0px;
		text-align:center;
		}
		
		.mainmenu li a{
		background:url(../images/nav_button_lite.png) no-repeat;
		font-weight:normal;
		margin:none;
		width:auto;
		height:40px;
		text-decoration:none;
		line-height:12px;
		font-size:12px;
		color:#ffffff;
		font-smooth:always;
		-webkit-font-smoothing: antialiased;
		/*text-shadow: 0 0 5px #515151, 0 0 10px #515151;*/
		display:block;
		}
	
		.mainmenu li a:hover, .mainmenu ul li:hover a{
		width:auto;
		height:40px;
		text-decoration:none;
		display:block;
		color:#812991;
		color:#812991\9; /* IE8 and below */
		/*text-shadow: 0 0 5px #515151, 0 0 10px #515151;*/
		/*text-shadow:0 1px 1px rgba(0,0,0,.8);*/
		}
		
			.mainmenu li ul{
			display:none;
			height:auto;
			margin:0px;
			border:0px;
			padding:10px 0px 5px 15px;
			position:absolute;
			width:130px;
			z-index:200;
			background:#000000 left;
			opacity:0.8;
			/*top:1em;
			left:0;*/
			}
	
			.mainmenu li:hover ul{
			display:block;
			
			}
			
				.mainmenu li li {
				display:block;
				float:none;
				height:30px;
				color:#ffffff;
				text-align:left;
				padding:0px;
				}

				.mainmenu li:hover li a{
				background:none;
				}
	
					.mainmenu li ul a{
					display:block;
					font-size:18px;
					font-style:normal;
					margin:0px;
					color:#e96262;
					}
					
					.mainmenu li ul a:hover, .mainmenu li ul li:hover a{
					border:0px;
					color:#ffffff;
					text-decoration:none;
					}
					
.mainmenu p{
clear:left;
}
/*-- Navigation Menu End --*/

/*-- Side Navigation --*/
#side_active {
width:168px;
height:auto;
text-decoration:none;
color:#812991;
color:#812991\9; /* IE8 and below */
font-smooth:always;
-webkit-font-smoothing: antialiased;
/*text-shadow: 0 0 5px #515151, 0 0 10px #515151*/;
}

.side_bar {
font-family:'WebfontBold', Helvetica, sans-serif;
font-size:15px;
font-weight:normal;
width:168px;
height:auto;
vertical-align:top;
padding:28px 0px 0px 0px;
}

.side_bar td{
width:168;
height:auto;
text-align:center;
padding:13px 0px 0px 0px;
}

.side_bar td a{
width:168;
text-align:center;
text-decoration:none;
color:#4f4f4f;
font-smooth:always;
-webkit-font-smoothing: antialiased;
}

.side_bar td a:hover{
width:168px;
height:auto;
text-decoration:none;
color:#812991;
color:#812991\9; /* IE8 and below */
/*text-shadow: 0 0 5px #515151, 0 0 10px #515151;*/
}

/*-- Side Navigation End --*/

.footer_copyright {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #393939;
}

.footer_add {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	color: #393939;
	vertical-align:top;
}

.content_title{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	color: #000;
}

.content{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #393939;
}

.subline01{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: #393939;
}

.subline02{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #393939;
}