<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Admin.aspx.vb" Inherits="Admin_Admin" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>SHINE Child Guidance Centre | Admin</title>
<link href="../css/style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
body {
	background-color: #d1d1d1;
	margin-top: 30px;
	margin-left: 30px;
}
-->
</style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <table style="width: 100%; height: 140px">
            <tr>
                <td style="width: 200px" valign="top">
                    <asp:Image ID="Image1" runat="server" ImageUrl="../images/logo.jpg" />&nbsp;
                    <br />
                    <asp:Button ID="btnUpload" runat="server" Style="font-size: 10pt;" Text="Add New Gallery" Width="155px" /><br />
                    <asp:Button ID="ImageButton1" runat="server" Style="font-size: 10pt;" Text="View Gallery" Width="155px" /><br />
                    <asp:Button ID="Button1" runat="server" Style="font-size: 10pt;" Text="Add News" Width="155px" /><br />
                    <asp:Button ID="btnProduct" runat="server" Style="font-size: 10pt;" Text="View News" Width="155px" />&nbsp;<br />
                    <asp:Button ID="linSignOut" runat="server" ForeColor="Black" Style="font-size: 10pt;" Text="Sign Out" Width="155px" />
                    <br />
                    <br />
                    <font color="white"><span style="font-size: 8pt; color: #393939; font-family: Arial">
                        .: Web Control Panel :.
                        <br />
                        <br />
                        Copyright 2009 SHINE Child Guidance Centre. All rights reserved.</span></font>
                </td>
                <td>
                    <iframe id="frame1" runat="server" frameborder="0" height="550" scrolling="yes" src="Group_view.aspx"
                        style="width: 664px" width="600"></iframe>
                </td>
            </tr>
            <tr>
            </tr>
        </table>
    
    </div>
    </form>
</body>
</html>
