<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Group_new.aspx.vb" Inherits="Group_new" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
<style type="text/css">
    body,input,form,span,div,select{font-family:Tahoma;font-size:9pt;}
</style>
<link href="../css/style.css" rel="stylesheet" type="text/css" />
</head>
<body bgcolor="whitesmoke">
    <form id="form1" runat="server">
    <div><a class="subline01">
        Create Group </a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <br />
        <br />
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td style="width: 86px; height: 53px">                
        Group Name</td>
        
                <td style="width: 2px; height: 53px">
                    :&nbsp;</td>
                <td style="width: 161px; height: 53px">
        <asp:TextBox ID="txt_gname" runat="server"></asp:TextBox></td>
            </tr>
            <tr>
                <td style="width: 86px; height: 35px" valign="top">
        Description</td>
                <td style="width: 2px; height: 35px" valign="top">
                    :&nbsp;</td>
                <td style="width: 161px; height: 35px">
                    <textarea id="txt_gdesc" rows="4" runat="server" style="width: 220px"></textarea></td>
            </tr>
            <tr>
                <td style="width: 86px; height: 28px">
                </td>
                <td style="width: 2px; height: 28px">
                </td>
                <td style="width: 161px; height: 28px">
                    <asp:Button ID="btn_create" runat="server" Text="Create" />
        <asp:Label ID="lblMsg" runat="server" ForeColor="#FF0066"></asp:Label></td>
            </tr>
            <tr>
                <td style="width: 86px; height: 26px">
                </td>
                <td style="width: 2px; height: 26px">
                </td>
                <td align="right" style="width: 161px; height: 26px">
                    </td>
            </tr>
        </table>
    </div>
    </form>
</body>
</html>
