<%@ Page Language="VB" AutoEventWireup="false" CodeFile="News_create.aspx.vb" Inherits="Admin_News_create" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
<style type="text/css">
    body,input,form,span,div,select{font-family:Tahoma;font-size:9pt;}
</style>
<link href="../css/style.css" rel="stylesheet" type="text/css" />
</head>
<body bgcolor="whitesmoke">
    <form id="form1" runat="server">
    <div><a class="subline01">
        Create News</a><br />
        <br />
        News Title : &nbsp; &nbsp; &nbsp; &nbsp;<asp:TextBox ID="txt_NewsTitle" runat="server"></asp:TextBox><br />
        <br />
        <br />
        <asp:Button ID="btnCreate" runat="server" Text="Create" /></div>
    </form>
</body>
</html>
