.header_bgimage01 {
background-image:url(../images/header_01.jpg);
background-repeat:repeat-x;
}

.header_bgimage02 {
background-image:url(../images/header_02.jpg);
background-repeat:repeat-x;
}

.header_bgimage03 {
background-image:url(../images/header_03.jpg);
background-repeat:repeat-x;
}

.header_bgimage04 {
background-image:url(../images/header_04.jpg);
background-repeat:repeat-x;
}

.header_bgimage05 {
background-image:url(../images/header_05.jpg);
background-repeat:repeat-x;
}

.header_bgimage06 {
background-image:url(../images/header_06.jpg);
background-repeat:repeat-x;
}

.footer_copyright {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #FFF;
}

.footer_add {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	color: #FFF;
}

.content_title{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	color: #000;
}

.content{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #393939;
}

.subline01{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: #393939;
}

.subline02{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #393939;
}