﻿.dhtmlgoodies_question
{
    /* Styling question */ /* Start layout CSS */
	font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 12px;
	font-weight:bold;
	line-height:20px;
    background-color: dimgray;
    width: 577px;
	border-bottom:2px solid lightgray \9; /*IE 8 and below */
    margin: 2px 0px 2px 0px;
    padding: 0px 0px 0px 5px; 
    background-repeat: no-repeat;
    background-position: right top;
    height: 20px; /* End layout CSS */
    overflow: hidden;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}
.dhtmlgoodies_answer
{
    /* Parent box of slide down content */ /* Start layout CSS */
    background-color: lightgray;
    width: 580px; /* End layout CSS */
    visibility: hidden;
    height: 0px;
    overflow: hidden;
    position: relative;
    border: dimgray 1px solid;
  
}
.dhtmlgoodies_answer_content{	/* Content that is slided down */
	padding:5px;
	font-size:0.9em;	
	position:relative;
}